<footer class="site-footer">
  <div class="section__inner">
    <div class="footer-block-wrapper">
      <div class="footer-block">
        <h3>Makers Lab Mons ASBL</h3>
        <p>
          Avenue des Bassins, 64<br>
          7000 Mons<br>
          Belgique
        </p>
        <p><a id="e547592292" href="#" class="" title="contactez le makers lab Mons">Contactez-nous</a></p>
      </div>

      <div class="footer-block">
        <h3>Partenaires</h3>

        <p class="partner">
          <a href="http://micbelgique.be" class="partner-name" target="_blank">Microsoft Innovation Center</a>
          <img src="/assets/logo-micbelgique.png" alt="" class="partner-logo">
        </p>

        <p class="partner">
          <a href="http://creativemonkeys.eu" class="partner-name" target="_blank">Creative Monkeys</a>
          <img src="/assets/logo-creativemonkeys.png" alt="" class="partner-logo">
        </p>
      </div>
    </div>

      <div class="copyright">
      <span>makerslab.be 2017</span>
    </div>
  </div>
</footer>

<script type="text/javascript">
  /*<![CDATA[*/
  eval("var a=\"cs.O4wJxvlbYdS@-CLy53GF02BaH8DEktgNjA_meTRXiV+qKoPQ7zpZM9h61fnUuIrW\";var b=a.split(\"\").sort().join(\"\");var c=\"o+zzMSpR7+61zRX.X+\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e547592291\").href=\"mailto:\"+d")
  eval("var a=\"cs.O4wJxvlbYdS@-CLy53GF02BaH8DEktgNjA_meTRXiV+qKoPQ7zpZM9h61fnUuIrW\";var b=a.split(\"\").sort().join(\"\");var c=\"o+zzMSpR7+61zRX.X+\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e547592292\").href=\"mailto:\"+d")
  /*]]>*/
</script>
